@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-color: olive;
    margin-left: 40px;
  }
  
  h1 {
    color: mintcream;
    font-family: "Arial", sans-serif;
    font-size: 24px; /* Adjust font size */
    font-weight: bold;
  }
  h2 {
    color: mintcream
    font-family: "Arial", sans-serif;
    font-size: 16px; /* Adjust font size */
    font-weight: bold; 
  }

  h3 {
    color: mintcream
    font-family: "Arial", sans-serif;
    font-size: 10px; /* Adjust font size */
    font-weight: bold; 
  }

  footer {
    background-color: #2d3748; /* bg-gray-800 */
    color: #ffffff; /* text-white */
    padding: 1rem; /* p-4 */
    text-align: center; /* text-center */
  }

  

