@tailwind base;
@tailwind components;
@tailwind utilities;


header {
  background-color: #2d3748; 
  color: #ffffff; 
  padding: 1rem; 
}

body {
    background-color: olive;
    margin-left: 40px;
  }
  
  h1 {
    color: mintcream;
    font-family: "Arial", sans-serif;
    font-size: 24px; 
    font-weight: bold;
  }
  h2 {
    color: mintcream
    font-size: 16px; 
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
  }

  h3 {
    color: mintcream
    font-family: "Arial", sans-serif;
    font-size: 10px; 
    font-weight: bold;  
  }

  h4 {
    color: mintcream
    font-family: "Arial", sans-serif;
    font-size: 8px; 
    font-weight: italic;
  }


  footer {
    background-color: #2d3748; 
    color: #ffffff; 
    padding: 1rem; 
    text-align: center; 
  }

  .btn {
    background-color: darkgreen;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Arial", sans-serif;
    font-size: 16px;
  }
  
  .btn:hover {
    background-color: green;
  }

  .featured-projects {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .project-image {
    width: 200px;
    height: auto;
    transition: opacity 0.3s ease;
  }
  
  .project-image:hover {
    opacity: 0.7;
  }

  .carousel {
    position: relative;
    width: 80%;
    margin: auto;
    overflow: hidden;
  }
  
  .carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
  }
  
  .carousel-item {
    min-width: 100%;
    box-sizing: border-box;
  }
  
  .carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  .carousel-control.prev {
    left: 10px;
  }
  
  .carousel-control.next {
    right: 10px;
  }