@tailwind base;
@tailwind components;
@tailwind utilities;


header {
  background-color: #2d3748; 
  color: #ffffff; 
  padding: 1rem; 
}

body {
    background-color: olive;
    margin-left: 40px;
  }
  
  h1 {
    color: mintcream;
    font-family: "Arial", sans-serif;
    font-size: 24px; 
    font-weight: bold;
  }
  h2 {
    color: mintcream
    font-family: "Arial", sans-serif;
    font-size: 16px; 
    font-weight: bold; 
  }

  h3 {
    color: mintcream
    font-family: "Arial", sans-serif;
    font-size: 10px; 
    font-weight: bold;  
  }

  h4 {
    color: mintcream
    font-family: "Arial", sans-serif;
    font-size: 8px; 
    font-weight: italic;
  }


  footer {
    background-color: #2d3748; 
    color: #ffffff; 
    padding: 1rem; 
    text-align: center; 
  }



